@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.home-button {
  position: fixed;
  top: 93vh;
  left: 50%;
  z-index: 5;
  background-color: #239b6a;
  padding: 1rem;
  border-radius: 50%;
  display: inline-block;

  &__icon {
    width: 1.4rem;
    height: 1.4rem;
    filter: grayscale(1) invert(1);
    object-fit: contain;
  }
}