$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$color-background: #f4d2eb;
$color-card-background: #f3daed;
$color-dark-text: #9279c7;
$color-header: #f2e1f7;
$color-card-header: #baa3e1;
$color-light-text: #fef9ff;