$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$color-background: linear-gradient(#f3d2ec, #d3bbef);
$color-card-background: #f3daed;
$color-dark-text: #9279c7;
$color-header: #f2e1f7;
$color-card-header: #baa3e1;
$color-light-text: #fef9ff;
$color-description: #f5f0f4;
$color-black-text: #2b2b2b;