@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.entry {
  width: 32%;
  margin-bottom: 1.2rem;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 0px rgb(180, 180, 180);

  &__container {
    background-color: $color-card-header;
    width: 100%;
    color: $color-light-text;
    border-radius: 3px 3px 0 0;
    @include font-entry-number;
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
  }

  &__caught-button {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__caught {
    width: 1.4rem;
    margin: 0 0.3rem;

    &--grey {
      filter: grayscale(100%);
    }
  }

  &__image-container {
    width: 100%;
    // height: 100%;
    position: relative;
    background-color: $color-card-background;
    border-radius: 0 0 3px 3px;
  }

  &__image-background {
    position: absolute;
    width: 100%;
    z-index: 3;
    opacity: 0.25;
    filter: brightness(350%);
  }

  &__image {
    position: relative;
    max-width: 100%;
    z-index: 4;
  }
}